{
   "extends": "airbnb-base",
   "rules": {
      "indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
      "no-tabs": 0,
      "max-len": [1, 120, 2, {ignoreComments: true}],
   }
}
